*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f1f1f1;
}

/* NAVBAR */

.navbar{
    background:#000;
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:50px;
}

.logo{
    background:#009688;
    padding:15px 25px;
}

.navbar ul{
    display:flex;
    list-style:none;
    flex:1;
}

.navbar ul li a{
    color:#fff;
    text-decoration:none;
    padding:16px 18px;
    display:block;
}

.navbar ul li a:hover{
    background:#ddd;
    color:#000;
}

.search{
    padding:15px;
}

/* HERO */

.hero{
    height:550px;
    background:url('https://www.w3schools.com/w3images/sailboat.jpg')
    center/cover;
    position:relative;
}

.hero button{
    position:absolute;
    left:20px;
    bottom:20px;
    background:#000;
    color:#fff;
    border:none;
    padding:15px 25px;
    font-size:24px;
    cursor:pointer;
}

/* TEAM */

.team{
    background:#fff;
    text-align:center;
    padding:80px 20px;
}

.team h2{
    margin-bottom:15px;
}

.team-grid{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.member img{
    width:90px;
    height:90px;
    border-radius:50%;
}

/* WORK */

.work{
    background:#333;
    color:#fff;
    display:flex;
    gap:30px;
    padding:50px 20px;
    position:relative;
}

.work-left{
    width:25%;
}

.cards{
    display:flex;
    gap:20px;
}

.card{
    width:250px;
    background:#fff;
    color:#000;
}

.card img{
    width:100%;
}

.card-body{
    padding:20px;
}

.floating-btn{
    position:absolute;
    right:20px;
    bottom:-25px;
    width:50px;
    height:50px;
    border:none;
    border-radius:50%;
    background:#009688;
    color:#fff;
    font-size:28px;
    cursor:pointer;
}

/* PRICING */

.pricing{
    background:#fff;
    padding:100px 20px;
    text-align:center;
}

.pricing p{
    margin:15px 0 40px;
}

.price-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.price-card{
    border:1px solid #ddd;
    background:#fff;
}

.head{
    color:#fff;
    padding:30px;
    font-size:30px;
}

.black{
    background:#000;
}

.gray{
    background:#666;
}

.price-card ul{
    list-style:none;
}

.price-card ul li{
    padding:18px;
    border-bottom:1px solid #ddd;
}

.price{
    padding:25px;
}

.price h3{
    font-size:40px;
}

.price span{
    color:gray;
}

.footer{
    background:#f1f1f1;
    padding:25px;
}

.footer button{
    background:#009688;
    color:#fff;
    border:none;
    padding:12px 25px;
    cursor:pointer;
}

/* CONTACT */

.contact{
    display:grid;
    grid-template-columns:1fr 2fr;
    gap:40px;
    background:#efefef;
    padding:80px 20px;
}

.contact-info h2{
    margin-bottom:25px;
    display:inline-block;
    border-bottom:4px solid #009688;
}

.contact-info h3{
    margin:20px 0;
}

.contact-info p{
    margin:15px 0;
}

.contact-info i{
    color:#009688;
    margin-right:10px;
}

.contact-form{
    background:#fff;
    padding:25px;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    border:none;
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
}

.contact-form textarea{
    height:120px;
    resize:none;
}

.form-footer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.form-footer button{
    background:#000;
    color:#fff;
    border:none;
    padding:10px 25px;
}

/* MAP */

.map img{
    width:100%;
    display:block;
    height:500px;
    object-fit:cover;
}

/* FOOTER */

footer{
    background:#000;
    color:#fff;
    text-align:center;
    padding:50px 20px;
}

.socials{
    margin:20px 0;
}

.socials a{
    display:inline-flex;
    width:40px;
    height:40px;
    background:#009688;
    color:#fff;
    text-decoration:none;
    justify-content:center;
    align-items:center;
    margin:5px;
}

footer p{
    margin-top:15px;
}

/* RESPONSIVE */

@media(max-width:900px){

.team-grid{
    grid-template-columns:repeat(2,1fr);
}

.work{
    flex-direction:column;
}

.work-left{
    width:100%;
}

.cards{
    flex-direction:column;
}

.card{
    width:100%;
}

.price-grid{
    grid-template-columns:1fr;
}

.contact{
    grid-template-columns:1fr;
}
}

@media(max-width:600px){

.navbar{
    flex-wrap:wrap;
    height:auto;
}

.navbar ul{
    flex-wrap:wrap;
}

.team-grid{
    grid-template-columns:1fr;
}

.contact-form{
    label{
        position: relative;
        top: 20px;
    }
}
}